# Git
.git
.gitignore

# Node
node_modules
npm-debug.log*
yarn-error.log*

# Build artifacts
dist
build

# Test & Coverage
coverage
reports

# Editor specific
.vscode
.idea
.cursor
.DS_Store

# Local development
local/
local-docs/