# pnpm設定
auto-install-peers=true
strict-peer-dependencies=true
enable-pre-post-scripts=true

# セキュリティ設定
audit-level=low
fund=false

# パフォーマンス & CI設定
side-effects-cache=true
prefer-offline=true
prefer-frozen-lockfile=true

# モジュール解決設定
node-linker=isolated

# オプショナル依存関係設定
optional=true

registry=https://registry.npmmirror.com